package webviews

import (
	"github.com/adham90/opentrace/components/alert"
	"github.com/adham90/opentrace/components/button"
	"github.com/adham90/opentrace/components/card"
	"github.com/adham90/opentrace/components/checkbox"
	"github.com/adham90/opentrace/components/form"
	"github.com/adham90/opentrace/components/input"
	"github.com/adham90/opentrace/components/label"
	"github.com/adham90/opentrace/internal/views"
)

templ LoginPage(data views.LayoutData, errorMsg string) {
	@views.LayoutMinimal(data) {
		@card.Card() {
			@card.Header() {
				@card.Title() {
					Log in
				}
				@card.Description() {
					Enter your credentials to access OpenTrace.
				}
			}
			@card.Content() {
				if errorMsg != "" {
					@alert.Alert(alert.Props{Variant: alert.VariantDestructive, Class: "mb-4"}) {
						@alert.Description() {
							{ errorMsg }
						}
					}
				}
				<form method="POST" action="/login" class="space-y-4">
					<input type="hidden" name="_csrf" value={ data.CSRFToken }/>
					@form.Item() {
						@label.Label(label.Props{For: "email"}) {
							Email
						}
						@input.Input(input.Props{
							ID:          "email",
							Name:        "email",
							Type:        input.TypeEmail,
							Placeholder: "you@example.com",
							Required:    true,
							Attributes:  templ.Attributes{"autofocus": "true"},
						})
					}
					@form.Item() {
						@label.Label(label.Props{For: "password"}) {
							Password
						}
						@input.Input(input.Props{
							ID:          "password",
							Name:        "password",
							Type:        input.TypePassword,
							Placeholder: "your password",
							Required:    true,
						})
					}
					@form.ItemFlex() {
						@checkbox.Checkbox(checkbox.Props{
							ID:   "remember",
							Name: "remember",
						})
						@label.Label(label.Props{For: "remember", Class: "cursor-pointer"}) {
							Remember me for 7 days
						}
					}
					@button.Button(button.Props{Type: button.TypeSubmit, FullWidth: true}) {
						Log in
					}
				</form>
			}
		}
		@input.Script()
		@checkbox.Script()
	}
}
